*{
    box-sizing: border-box;
}

.Task{
    background-color: white;
    margin: 5px 0;
    padding: 8px 12px;
    color: rgb(16, 2, 22);
    font-size: 16px;
    min-width: 400px;
}

.Task button{
    border: none;
    border-radius: 3px;
    background-color: rgb(190, 190, 190);
    margin-left: 8px;
}

.Task button:hover{
    background-color: rgb(202, 202, 202);
}

.Task button:active{
    background-color: rgb(146, 146, 146);
}

.Task button img{
    max-width: 25px;
    max-height: 25px;
}

.Task .Content{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.Task .Content .Info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
}

.Task .Content .Info div{
    margin: 3px 0;
}

.Task .Content .Buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 40%;
}

.AddToTodoBtn{
    height: 30px;
    font-size: 14px;
}